.signin-signup {
    left: 75%;
  }
  form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  form.sign-up-form {
    opacity: 0;
  }
  form.sign-in-form {
    z-index: 2;
  }
  .panels-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .container:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 50%;
    right: 60%;
    transform: translateY(-50%);
    background-image:linear-gradient(135deg, #0f243d, #1e3c72);
    transition: 1.8s ease-in-out;
    border-radius: 2%;
    z-index: 6;
  }
  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  /* ANIMATION */
  .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 40%;
  }
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  .container.sign-up-mode .signin-signup {
    left: 25%;
  }
  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
  @media (max-width: 870px) {
    .signin-signup {
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
    .right-panel {
      grid-row: 3 / 4;
    }
    .left-panel {
      grid-row: 1 / 2;
    }
    .container:before {
      width: 900px;
      height: 900px;
      transform: translateX(-50%);
      left: 50%;
      bottom: 68%;
      border-radius: 30%;
      top: initial;
      transition: 2s ease-in-out;
    }
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 28%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    .container:before {
      bottom: 72%;
      left: 50%;
      border-radius: 50%;
    }
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }